<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="@ViewBag.PostUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.PostTitle" />
    <meta property="og:description" content="@ViewBag.PostContent" />
    <meta property="og:image" content="@ViewBag.PostImageUrl" />
    <meta property="fb:app_id" content="@ViewBag.appId" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Lato|Work+Sans" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="top-mobile">
            <div class="menu-icon">
                <a id="hamburguer"><img src="~/Images/menu-alt-256.png" width="30" height="30" /></a>
            </div>
            <div class="logo-mobile">
                <a class="logo" href="@Url.Action("Index","Home")">
                    LARA CROFT <font color="#921a1a">FANS</font>
                </a>
            </div>
        </div>*@

    @*<div class="left-mobile-menu">
            <ul class="white-bg">
                <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(1)">NEWS</a></li>
                <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(3)">ARTICLES</a></li>
                <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(4)">INTERVIEWS</a></li>
                <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(1005)">COSPLAY</a></li>
                <li>
                    <a href="#">GAMES<i class="fa fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 1 })">Tomb Raider The Atlantean Scion</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 6 })">Tomb Raider The Dagger of Xian</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 7 })">Tomb Raider Adventures of Lara Croft </a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 8 })">Tomb Raider The Last Revelation</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 9 })">Tomb Raider Chronicles</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 10 })">Tomb Raider The Angel of Darkness</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 13 })">Tomb Raider Legend</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 20 })">Tomb Raider Anniversary</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 14 })">Tomb Raider Underworld</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 12 })">Tomb Raider (2013)</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 16 })">Rise of the Tomb Raider</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 11 })">Shadow of the Tomb Raider</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 18 })">Lara Croft and The Guardian of Light</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 19})">Lara Croft and The Temple of Osiris</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">MOVIES<i class="fa fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 21})">Tomb Raider (2001)</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 22})">Tomb Raider the Cradle of Life</a></li>
                        <li><a href="@Url.Action("ViewSection","sections",new { id = 24})">Tomb Raider (2018)</a></li>
                    </ul>
                </li>
            </ul>
        </div>*@

    <nav id='flexmenu'>
        <div class="logo">
            <a href="@Url.Action("Index","Home")">Lara Croft <font color="#c51e1e">Fans</font></a>
        </div>

        <div id="mobile-toggle" class="button"></div>
        <ul id="main-menu" style="margin-bottom: 5px;">
            <li class='active'><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(1)">News</a></li>
            <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(3)">Articles</a></li>
            <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(4)">Interviews</a></li>
            <li><a href="@Url.Action("Filter","Home")" onclick="SetSession(1005)">Cosplay</a></li>
            <li>
                <a href='#'>Games</a>
                <ul class="sub-menu">
                    @*<li>
                            <a href='#'>Product 1</a>
                            <ul>
                                <li><a href='#'>Sub Product</a></li>
                                <li><a href='#'>Sub Product</a></li>
                            </ul>
                        </li>*@
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 1 })">Tomb Raider The Atlantean Scion</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 6 })">Tomb Raider The Dagger of Xian</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 7 })">Tomb Raider Adventures of Lara Croft </a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 8 })">Tomb Raider The Last Revelation</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 9 })">Tomb Raider Chronicles</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 10 })">Tomb Raider The Angel of Darkness</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 13 })">Tomb Raider Legend</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 20 })">Tomb Raider Anniversary</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 14 })">Tomb Raider Underworld</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 12 })">Tomb Raider (2013)</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 16 })">Rise of the Tomb Raider</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 11 })">Shadow of the Tomb Raider</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 18 })">Lara Croft and The Guardian of Light</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 19})">Lara Croft and The Temple of Osiris</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Movies</a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 21})">Tomb Raider (2001)</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 22})">Tomb Raider the Cradle of Life</a></li>
                    <li><a href="@Url.Action("ViewSection","sections",new { id = 24})">Tomb Raider (2018)</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("ViewSection","sections",new { id = 25 })">About Us</a></li>
            <li><a href="@Url.Action("ViewSection","sections",new { id = 26 })">Contact</a></li>
        </ul>
    </nav>

    <section style="width: 100%;">
        @RenderBody()
    </section>

    <footer class="main-footer">
        <div class="row">
            <article class="col-md-4 footer-display">
                <span class="logo">LARA CROFT FANS</span>
                <span>© @DateTime.Today.Year Lara Croft Fans | Design by Giovani Zaghi</span>
            </article>
            <article class="col-md-4 footer-display">
                <h1>Tomb Raider Links</h1>
                <ul>
                    <li><a href="https://www.facebook.com/TombRaider">Facebook</a></li>
                    <li><a href="https://twitter.com/tombraider">Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/tombraider">Youtube</a></li>
                    <li><a href="https://www.instagram.com/tombraider/">Instagram</a></li>
                    <li><a href="https://tombraider.square-enix-games.com/en-us">Website</a></li>
                </ul>
            </article>
            <article class="col-md-4 footer-display">
                <h1>Lara Croft Links</h1>
                <ul>
                    <li><a href="https://www.facebook.com/laracroft">Facebook</a></li>
                    <li><a href="https://twitter.com/laracroft">Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/tombraider">Youtube</a></li>
                    <li><a href="https://www.instagram.com/tombraider/">Instagram</a></li>
                    <li><a href="https://tombraider.square-enix-games.com/en-us">Website</a></li>
                </ul>
            </article>
            <article class="col-md-4 footer-display"></article>
        </div>
        <div class="row">
            <article class="col-md-12 footer-display" style="font-size: 12px;">
                © 2018 - @DateTime.Today.Year All rights reserved. Lara Croft Fans is an Official Tomb Raider fansite. All articles are copyright to the team. Thank you and enjoy your stay! LARA CROFT and TOMB RAIDER are trademarks or registered trademarks of Square Enix Limited.
            </article>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=607176156071617&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64062400-1"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-64062400-1');

        $(document).ready(
            function () {
                $('#sliderHome').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ],
                    dots: false,
                    prevArrow: false,
                    nextArrow: false,
                });
            });
    </script>
</body>
</html>
